body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(156, 237, 153), rgb(78, 223, 64));
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .modal-content img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do modal */
    height: auto; /* Mantém a proporção da imagem */
    width: 500px; /* Defina a largura desejada */
    height: 400px; /* Defina a altura desejada */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal verticalmente e o alinha ao centro horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Reduza a largura do modal */
    text-align: center; /* Centraliza o texto dentro do modal */
  }
  
 
  
  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
  }
  
  /* Adiciona sombra ao modal */
  .modal-content {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  
  h1 {
    text-align: center;
    color: white;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    color: white;
  }
  
  li {
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
  }
  
  li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  /* Modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    color: white;
    background-color: #000000;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }